@import url(https://fonts.googleapis.com/css?family=Roboto:500,700);


html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-weight: 500;
  height: 100%;
}

body {
  text-align: center;
  color: #222;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  background-image: url("background.png");
  background-size: cover;
  font-size: 2em;
}

table {
  margin-left:auto;
  margin-right:auto;
}
td {
  text-align: center;
  border: 1px solid black;
  height: 5em;
  width: 5em;
}

h1 {
  font-size: 1.5em;
}

a {
  font-size: 0.5em;
  color: #ADD8E6;
  text-decoration: none;
}

.hidden {
  display: none;
  visibility: hidden;
}
